body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e0e5ec;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:320px;
}

form{
    padding:40px;
    border-radius:20px;
    background:#e0e5ec;
    box-shadow: 8px 8px 15px #a3b1c6,
               -8px -8px 15px #ffffff;
    text-align:center;
}

h2{
    margin-bottom:30px;
    color:#333;
}

.input-box{
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#e0e5ec;
    box-shadow: inset 5px 5px 10px #a3b1c6,
                inset -5px -5px 10px #ffffff;
    font-size:14px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#e0e5ec;
    box-shadow: 5px 5px 10px #a3b1c6,
               -5px -5px 10px #ffffff;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

button:active{
    box-shadow: inset 5px 5px 10px #a3b1c6,
                inset -5px -5px 10px #ffffff;
}